<div class="col-12 col-md-6 mx-auto">
    <div class="card-body style="width: 18rem;">
        {% if mourse.image %}
            <img src="{{ mourse.image.url }}" class="card-img-top" alt="=^_^=" width="auto" height="auto"/>
        {% endif %}
        <h5 class="card-title"> {{ mourse.title }} </h5>
        <p class="card-text">
            <small class="text-muted"> {{ mourse.start_date }} </small>
            {% if truncate %}
                {{ mourse.content | linebreaks | truncatewords:15 }}
            {% else %}
                {{ mourse.content | linebreaks }}
            {% endif %}
        </p>
        {% if not detail %}
<!--            {% if not mourse.publish_date %} Draft {% endif %}-->
<!--            <a href="{{ mourse.get_absolute_url }}"> View </a>-->
            <a class="btn btn-outline-primary my-2 my-sm-0" href="{% url 'mourse_details' mourse.slug %}"> View Me </a>
        {% endif %}
    </div>
</div>