{% extends "base.html" %}

{% block content %}
    <div class="row">
        {% include "my_mourse/list_inline.html" with mourse=object truncate=False detail=True %}

        {% if request.user.is_authenticated %}
            {% if request.user.is_staff %}
                <div class="col-12">
                    <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="{{ object.get_edit_url }}"> Edit </a>
                    <a class="btn btn-outline-danger my-2 my-sm-0" role="button" href="{{ object.get_delete_url }}"> Delete </a>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}