{% extends 'base.html' %}

{% block title %} Mourse List {% endblock %}

{% block content %}

    {% for mourse in object_list %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title"> {{ mourse.title }} </h4>
        <h6 class="card-subtitle mb-2 text-muted"> by {{ mourse.author }}</h6>
        <br/>
        <h6 class="card-subtitle mb-2 text-muted"> We start - {{ mourse.start_date }} </h6>
        <br/>
        <button class="btn btn-outline-primary">
          <a href="{% url 'mourse_detail' mourse.pk %}" class="btn btn-primary"> View more</a>
        </button>
      </div>
    </div>
    {% endfor %}


<!-- Pagination -->
  <table> 
    {% if is_paginated %}
    <tr class='pagination'>
      {% if page_obj.has_previous %}
      <td> 
        <span> <a href="?page={{ page_obj.previous_page_number }}"> Previous </a></span>
      </td>
      {% endif %}
      <td> 
        <span> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </span>
      </td>
      {% if page_obj.has_next %}
      <td> 
        <span> <a href="?page={{ page_obj.next_page_number }}"> Next </a></span>
      </td>
      {% endif %}
    </tr>
    {% endif %}
{% endblock %}
